<a href="https://colab.research.google.com/github/doremon11/Goeduhub/blob/main/task_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment/Task 7

Reg No.:GO_STP_4414

Name: Kala Sri Sowmya

Prediction using Supervised Machine Learning using Simple Linear Regression

In this task we have to find the students scores based on their study hours. This is a simple Regression problem type because it has only two variables.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/StudentHoursScores.csv')

In [4]:
data.head()

   Hours  Scores
0    7.7      79
1    5.9      60
2    4.5      45
3    3.3      33
4    1.1      12

In [5]:
print(data.tail())

    Hours  Scores
18    9.6      96
19    4.3      42
20    4.1      40
21    3.0      30
22    2.6      25

In [6]:
print(data.shape)

(23, 2)

In [7]:
print(data.columns)

Index(['Hours', 'Scores'], dtype='object')

In [8]:
data.describe()

           Hours     Scores
count  23.000000  23.000000
mean    4.817391  47.695652
std     2.709688  27.103228
min     1.100000  12.000000
25%     2.650000  27.000000
50%     4.100000  40.000000
75%     7.100000  72.500000
max     9.600000  96.000000

In [9]:
x = data.iloc[:,0:-1]
y = data.iloc[:,-1]

In [10]:
print(x.head())

   Hours
0    7.7
1    5.9
2    4.5
3    3.3
4    1.1

In [11]:
print(x.shape)

(23, 1)

In [12]:
print(y.shape)

(23,)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=1)
print(x_train.shape)

print(x_test.shape)

print(y_train.shape)

print(y_test.shape)

(18, 1)
(5, 1)
(18,)
(5,)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
std_model  = LinearRegression()

std_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_pred = std_model.predict(x_test)

print(y_pred)

print(y_test)

print(x_test)

[40.87711348 25.025345   32.95122924 34.9327003  42.85858454]
20    40
17    21
3     33
13    34
19    42
Name: Scores, dtype: int64
    Hours
20    4.1
17    2.5
3     3.3
13    3.5
19    4.3

In [18]:
print(std_model.coef_)

print(std_model.intercept_)

from sklearn.metrics import r2_score, mean_squared_error

print("accuracy is: ", r2_score(y_test,y_pred))

print(mean_squared_error(y_test,y_pred))

[9.9073553]
0.2569567372371395
accuracy is:  0.9311770139374417
3.7164412473781487

In [19]:
vif = 1/1-(r2_score(y_test,y_pred))

vif

0.06882298606255832